<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Schedule</title>
</head>
<body>
    <div class="container">
        <h1>Your Schedule</h1>
        <ul>
            <% scheduleData.forEach(event => { %>
                <li><%= event.subject %> - <%= event.date %> - <%= event.time %> - <%= event.location %></li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
